<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Врачи - Частная поликлиника</title>
  <link rel="stylesheet" href="doctors.css">
</head>
<body>
  <header>
    <h1>Частная поликлиника</h1>
    <nav>
      <ul>
        <li><a href="index.html">Главная</a></li>
        <li><a href="services.html">Услуги</a></li>
        <li><a href="doctors.html">Врачи</a></li>
        <li><a href="feedback.html">Контакты</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section>
      <h2>Врачи</h2>
      <div class="doctor-card">
        <img src="Assets/ratchet-reverse.png" alt="Доктор Иванова">
        <h3>Доктор Иванова</h3>
        <p>Терапевт</p>
        <p>Стаж работы: 10 лет</p>
      </div>

      <div class="doctor-card">
        <img src="Assets/ratchet-reverse.png" alt="Доктор Петрова">
        <h3>Доктор Петрова</h3>
        <p>Педиатр</p>
        <p>Стаж работы: 8 лет</p>
      </div>

      <div class="doctor-card">
        <img src="Assets/ratchet-reverse.png" alt="Доктор Сидорова">
        <h3>Доктор Сидорова</h3>
        <p>Гинеколог</p>
        <p>Стаж работы: 12 лет</p>
      </div>

         {% for employee in employees %}  <!-- Обновленное имя переменной -->
        <p>{{ obj.employee_full_name }}</p>
        <p>{{ obj.employee_age }}</p>
        <p>{{ obj.employee_specialization }}</p>
        <p>{{ obj.employee_experience }}</p>
        <img src="{{ obj.employee_photo.url }}" alt="Фото врача">
    {% endfor %}
      <!-- Добавьте остальных врачей по аналогии -->
    </section>
  </main>

  <footer>
    <p>© 2023 Частная поликлиника. Все права защищены.</p>
  </footer>
</body>
</html>
