{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Услуги - Частная поликлиника</title>
  <link rel="stylesheet" href="{% static 'css/services.css' %}">
</head>
<body>
  <header>
    <div class="logo">
      <img src="{% static 'Assets/gerb-kbp-full-1000x1000-1.png' %}" alt="Логотип поликлиники">
      <h1>RATCHET Clinic</h1>
    </div>
    <nav>
      <ul>
        <li><a href="{% url 'index' %}">Главная</a></li>
        <li><a href="{% url 'feedback' %}">Обратная связь</a></li>
        <li><a href="{% url 'review' %}">Отзывы</a></li>
        <li><a href="{% url 'doctors' %}">Доктора</a></li>
      </ul>
    </nav>
  </header>

  <main style="margin-top: 150px">
    <section>
        <h1 style="color: black">Услуги</h1>
        <div class="services-container">
            {% for obj in services %}
                <div class="service-container">
                    <div class="service-image">
                        <img src="{{ obj.service_image.url }}" alt="{{ obj.service_name }}">
                    </div>
                    <div class="service-info">
                        <h3>{{ obj.service_name }}</h3>
                        <p class="description">{{ obj.service_description }}</p>
                        <p class="price">{{ obj.service_price }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</main>

  <form action="{% url 'services' %}" method="POST" style="margin-top: 100px">
    {% csrf_token %}
    <div class="form-container">
        <h1 style="color: black">Запись на услугу</h1>
        <label for="{{ form.client_name.id_for_label }}">Имя:</label>
        {{ form.client_name }}
        <small>{{ form.client_name.help_text }}</small>
        <br><br>
        <label for="{{ form.client_surname.id_for_label }}">Фамилия:</label>
        {{ form.client_surname }}
        <small>{{ form.client_surname.help_text }}</small>
        <br><br>
        <label for="{{ form.client_notes.id_for_label }}">Примечания:</label>
        {{ form.client_notes }}
        <small>{{ form.client_notes.help_text }}</small>
        <br><br>
        <label for="{{ form.client_phone.id_for_label }}">Номер телефона:</label>
        {{ form.client_phone }}
        <small>{{ form.client_phone.help_text }}</small>
        <br><br>
        <label for="{{ form.client_date.id_for_label }}">Дата записи:</label>
        {{ form.client_date }}
        <small>{{ form.client_date.help_text }}</small>
        <br><br>
        <label for="{{ form.client_service.id_for_label }}">Услуга:</label>
        {{ form.client_service }}
        <small>{{ form.client_service.help_text }}</small>
        <br><br>
        <button type="submit">Отправить</button>
    </div>
</form>

<footer style="margin-top: 200px">
    <div class="footer-links">
      <ul>
       <li><a href="{% url 'index' %}">Главная</a></li>
        <li><a href="{% url 'feedback' %}">Обратная связь</a></li>
        <li><a href="{% url 'review' %}">Отзывы</a></li>
        <li><a href="{% url 'doctors' %}">Доктора</a></li>
      </ul>
    </div>
    <div class="footer-contacts">
      <div class="contact-info">
        <i class="fa fa-map-marker"></i>
        <p>Адрес: <b>ул. Колесникова 3, г. Минск</b></p>
      </div>
      <div class="contact-info">
        <i class="fa fa-phone"></i>
        <p>Телефон: +375447776429</p>
      </div>
      <div class="contact-info">
        <i class="fa fa-envelope"></i>
        <p>Email: office@kbp.by</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2023 RATCHET Clinic. Все права защищены.</p>
    </div>
  </footer>
</body>
</html>
